* {
    margin: 0;
}

/* header style  */
header {
    background-image: url(../images/banner/banner2.png);
    height: 800px;
    text-align: right;
    padding-right: 200px;
    display: flex;
    align-items: center;
    justify-content: right;
}

.header-text {
    width: 500px;

}

.title {
    font-weight: 700;
    font-size: 65px;
}

.primary-text {
    color: #444343;
    margin: 30px 0;

}

.primary-btn {
    padding: 20px 30px;
    border-radius: 5px;
    border: 0;
    color: white;
    background-color: rgb(255, 99, 42);
    font-weight: 600;
    font-size: 20px;
}

/* main section style  */
main {
    margin: 150px 250px;
}

.my-failures {
    display: flex;
    align-items: center;
    margin-bottom: 100px;

}

.my-failures-img {
    margin-right: 50px;
}

.my-failures h3 {
    font-weight: 700;
    font-size: 40px;
}

ul {
    list-style-type: square;
}

ul li {
    margin-bottom: 10px;
}

/* Mission section  */
.mission {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
}

.mission h3 {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 30px;
}

.mission-text {
    width: 450px;
    color: #444343;
}
.mission img{
    border-radius: 20px;
}

/* Course section style  */
.course-header {
    font-weight: 700;
    font-size: 40px;
    margin: 50px 0;
    text-align: center;
}

.course-con {
    display: flex;
    gap: 100px;
}

.course {
    text-align: center;
}

.course h3 {
    margin: 20px 0;
    font-weight: 700;
    font-size: 30px;
}

.course p {
    font-weight: 500;
    font-size: 25px;
    color: #737272;

}

/* gradient style  */
.gradient {
    background-image: url(/images/gradient1.png), url(/images/watch.png);
    width: 1140px;
    height: 300px;
    margin-top: 100px;
}

.gradient-con {
    padding: 50px;
}

.gradient-title {
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    margin-bottom: 20px;
    width: 450px;

}

.gradient-btn {
    font-weight: 600;
    font-size: 20px;
    color: #F15B22;
    padding: 20px 30px;
    border-radius: 5px;
    border: none;
}

/* Footer style  */
footer {
    background-color: #151414;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 130px 230px;
}

.footer title {
    font-weight: 700;
    font-size: 45px;
}

footer p {
    margin: 15px 0;
    width: 480px;
}

footer ul {
    list-style: none;
    display: flex;
    padding: 0;
}

footer li {
    margin-right: 20px;
}

.form-title {
    font-weight: 600;
    font-size: 25px;
}

.email {
    padding: 20px;
    width: 300px;
    border-radius: 5px;
    background-color: #151414;
    border: 1px solid white;
    margin: 20px 0;
    font-size: 18px;
    color: #F3F3F3;
}

.footer-btn {
    font-weight: 600;
    font-size: 20px;
    color: #F15B22;
    background-color: white;
    padding: 15px 20px;
    border-radius: 10px;
}